<div class="content" *ngIf="locations">
    <h1>{{message}}</h1>
    <h2>Tiempo Restante {{timeLeft}}</h2>
    <div fxLayout="row wrap" fxLayoutGap="1rem grid">
        <div *ngFor="let item of words">
            <h3>Filter</h3>
            <p> Resultado de filter nombre mayor a 26 caracteres <strong>{{item.name}}</strong> </p>
        </div>
    </div>

    <div *ngFor="let type of types">
        <h3>Filter</h3>
        <p> Resultado de filter tipo de location igual a Planet <strong>{{type.name}}</strong> </p>
    </div>


    <div>
        <h3>Find()</h3>
        <p>Primer tipo planeta {{firstPlanet.name}}</p>

    </div>
    <div>
        <h3>Find()</h3>
        <p>Primer tipo planeta {{firstCluster.name}}</p>

    </div>
</div>