.content {
  padding: 1rem;
}

.content > mat-card {
  width: 12.5rem;
}

.dot {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: inline-block;
  &.Alive {
    background-color: green !important;
  }

  &.Dead {
    background-color: red !important;
  }

  &.unknown {
    background-color: #b7b7b7 !important;
  }
}
