<mat-toolbar>
  <mat-toolbar-row>
    <h1>Rick and Morty</h1>
    <span class="menu-spacer"></span>
    <div class="toolbar-menu">
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/locations'">Locations </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>