<div class="content" *ngIf="characters">
  <div fxLayout="row wrap" fxLayoutGap="1rem grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let character of characters.results">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{character.name}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="character.image" [alt]="character.name">
        <mat-card-content>
          <p>
            <span [ngClass]="['dot', character.status]"></span> {{character.status}} - {{character.species}}
          </p>
          <p>
            Gender: {{character.gender}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button style="width: 100%;" mat-raised-button color="primary" (click)="seeCharacter(character.id)">See
            more</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
<mat-paginator [length]="characters.info.count" [pageSize]="20" (page)="OnChangePage($event)" *ngIf="characters">
</mat-paginator>