.content {
  padding: 1rem;
}

.title {
  letter-spacing: 2.5px;
}

.img-character {
  padding: 1rem;
}

.dot {
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: -0.1rem;
  &.Alive {
    background-color: green !important;
  }

  &.Dead {
    background-color: red !important;
  }

  &.unknown {
    background-color: #b7b7b7 !important;
  }
}

div {
  margin-left: 1rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  button {
    width: 30rem;
  }
}
