<div class="content animate__animated animate__fadeIn animate__faster" *ngIf="characterInfo">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title class="title"> {{characterInfo.name}} </mat-card-title>
    </mat-card-header>
    <div fxLayout="row">
      <img mat-card-image [src]="characterInfo.image" class="img-character" fxFlex="25">
      <mat-card-content fxFlex="35">
        <div>
          <span> Status: {{characterInfo.status}} <span [ngClass]="['dot', characterInfo.status]"></span></span>
        </div>
        <div>
          <span>Specie: {{characterInfo.species}}</span>
        </div>
        <div>
          <span>
            Gender: {{characterInfo.gender}}
          </span>
        </div>
        <div>
          <span>
            Location: {{characterInfo.location.name}}
          </span>
        </div>
        <div>
          <span>
            Origin: {{characterInfo.origin.name}}
          </span>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>

<div class="back-btn flexbox-parent">
  <div layout="row" layout-align="center center">
    <button mat-raised-button color="warn" (click)="back()">Go back</button>
  </div>
</div>